.header{
  display: flex;
  margin: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a{
  text-decoration: none;
}

.edit-content{
  position: absolute;
  right: 40px;
  top:15px;
}

.btn{
  border-radius: 0.5em;
  background-color: #eaf6fd;
  padding: 12px;
  font-size: 12px;
  font-weight: bold;
  color: #3b82c4;
  box-shadow: 5px 5px #3b82c4;
}

.btn:active{
  box-shadow: none;
  position: relative;
  top:5px;
  left:5px;
}
.nickname{
  font-size:25px
}

.target_amount{
  font-size: 40px;
  color:red;
}

.logo-image{
  position: absolute;
  left: 0px;
  margin: 10px 0  0 10px;
  width: 70px;
}

.search_form{
  position: absolute;
  right: 40px;
  top:70px;
}
.contents{
  height: 100%;
  display: flex;
}

.left-content{
  width: 25%;
  background-color:lightgoldenrodyellow;
}

h2{
  text-align: center;
}
li{
  list-style: none;
  font-size: 20px;
}


.right-content{
  background-color: lightcyan;
  height: 550px;
  width: 75%;
}

.content1{
  height: 100%;
  display: flex;
  align-items: flex-end;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}


select{
  padding:6px;
}

input{
  padding:4px 0px;
  width: 100px;
}

.name_price{
  background-color: lightpink;
  display:inline-block;
}
.expenses{
 margin: 10px;

}



.expense {
  display: inline-block;
  display: flex;
  justify-content: space-between;
}

.day{
  text-align-last: center;
  font-size:10px;
  font-weight: 900;
}

.price .sum{
  margin-left: 20px;

}
.sum{
  display: flex;
  display: flex;
  justify-content: space-between;
}

.del{
  position: relative;
}

.delBtn{
  margin-top: 5px;
  padding: 1px 10px;
  text-decoration: none;
  position: absolute;
  right: 2px;
  font-size: 12px;
  color: #fff;
  background-color: #eb6100;
  border-radius: 100vh;
}

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size:20px;
}

ul.pagination li {display: inline;}

ul.pagination li a {
  color:skyblue;
  float: left;
  padding: 8px 8px;
  text-decoration: none;
  border-radius: 50px;
}


ul.pagination li a:hover:not(.active) {background-color: seashell;}
