.header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: blanchedalmond;
  position: relative;
}

.logo-image{
  position: absolute;
  left: 20px;
  top: 10px;
  width: 70px;
  transition: transform 0.5s ease 0s;
}
.logo-image:hover{
  transform:rotate(360deg);
}

.back_image{
  display: block;
  flex-direction: column;
}

.back_text{
  position: absolute;
  left: 0px;
  top:80px;
}

a{
  text-decoration: none;
}

.edit-content{
  position: absolute;
  right: 40px;
  top:15px;
}

.btn{
  border-radius: 0.5em;
  background-color: #eaf6fd;
  padding: 12px;
  font-size: 12px;
  font-weight: bold;
  color: #3b82c4;
  box-shadow: 5px 5px #3b82c4;
}

.btn:active{
  box-shadow: none;
  position: relative;
  top:5px;
  left:5px;
}
.nickname{
  font-size:25px;
  font-weight: bold;
}

.balance_price{
  font-weight: bolder;
  font-size: 40px;
  color:red;
}

.search_form{
  display: flex;
  position: absolute;
  right: 30px;
  top:60px;
}

.search-btn{
  margin-right: 10px;
}

.contents{
  height: 100%;
}

.left-content{
  background-color:rgb(184, 214, 232);
  border: solid 2px #696969;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-size:25px;
}

.right-content{
  background-color: #FFF9EE;
  height: 550px;
  border: solid 3px #696969;
  position: relative;
}

.judge-image{
  position: absolute;
  top: 0px;
  width: 170px;
}

.content1{
  height: 100%;
  display: flex;
  align-items: flex-end;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}


select{
  padding:8px;
}

input{
  padding:4px 0px;
  width: 100px;
}

.name_price{
  background-color:#9adaff;
  display:inline-block;
  margin: 10px;
}

.expense {
  display: inline-block;
  display: flex;
  justify-content: space-between;
}

.day{
  text-align-last: center;
  font-size:10px;
  font-weight: 900;
}

.price .sum{
  margin-left: 20px;

}
.sum{
  display: flex;
  justify-content: space-between;
}

.del{
  display: none;
}

footer{
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
