<%= stylesheet_link_tag "post/profile", :media => "all" %>
<header>
  <div class = "header-logo">
    <%= link_to image_tag("back.png",class: "logo-image"), "/" %>
  </div>
</header>
<div class = "contents">
  <div class = "first-view">
    <div class="left-content">
      <%= image_tag "profile.png" ,class: "profile-image" %>
    </div>
    <div class="right-content">
      <div class = "profile">
        <div class = "profile-name">
          <h1>築島 大夢</h1>
          <p>Hiromu Tsukishima</p>
          <h2>生年月日/1994年３月７日</h2>
        </div>
        <div class ="skill-pr">
          <div class="skill">
            <span class="box-title">スキル</span>
            <p>HTML(1年未満)</p>
            <p>CSS(1年未満)</p>
            <p>JavaScript(1年未満)</p>
            <p>ruby(1年未満)</p>
            <p>rails(1年未満)</p>
            <p>Photoshop(1年未満)</p>
            <p>Studio Clip(2年未満)</p>
            <p>動画編集(2年未満)</p>
          </div>
          <div class="pr">
            <span class="box-title">自己紹介</span>
            <p>桜美林大学卒業後は、株式会社原田で洋菓子の販売員として接客業務・セールストークのPOP作成等に携わる。4年目からは、副店長に昇格し接客教育を担当。退職後、PGスクールに通い、卒業。
            <br>【自己PR】<br>「やる以上は求められてる以上の価値を生み出す」が私のポリシーです。そのために、ユーザーにとって使いやすいはもちろん、感動を届ける差別化やデザイン性を考えてアプリを作りました。今後も新たな価値と感動を生み出せる人材になることを目指しています！</p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class = "portfolio"><h1>ポートフォリオ</h1>
      <div class = "portfolio1">
        <div class ="portfolio1-info">
          <h2>キツネになった彼女（小説）</h2>
          <p>あらすじ<br>大学2年生になった聡は、ある女性に一目惚れをした。その女性は同じ大学の他学部。交流を持ちたいがどうしたら良いか分からずにいた。そんなある日、下校する彼女を見つけ後をつけると、彼女の意外な行動を目のあたりにする。その出会いが聡の人生に大きく影響を与えたミステリアスヒューマンストーリー。</p>
          <div class = "amazon"><a class = "amazon" href="https://www.amazon.co.jp/%E3%82%AD%E3%83%84%E3%83%8D%E3%81%AB%E3%81%AA%E3%81%A3%E3%81%9F%E5%BD%BC%E5%A5%B3-%E7%AF%89%E5%B3%B6-%E5%A4%A7%E5%A4%A2-ebook/dp/B07CVLWHV3">購入はこちら</a></div>
          <p>コメント<br>この作品は大学4年の就活中に思い付き、社会人1年目の時に執筆しました。テーマは、人生で大切な物です。人それぞれあると思いますが、当時の私が大切にしていた物、これからも大切にしたい物を書きました。ミステリアス要素もあり、最後は全力で主人公たちを応援したくなる内容になっています！<br>また、PhotoshopとStudio Clipで小説のポスターも作成しました。中央の木は四季を表しており、季節の変化と主人公たちの成長を表現してます。<br>これからも、心が動く作品を作っていきます！</p>
        </div>
        <%= image_tag "kitune.png" ,class: "kitune" %>
      </div>
      <div class="portfolio2">
        <div class = "intro-video" id = "intro-video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/UOhTFdQPgFw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="portfolio2-info">
          <h2>小さな悩み（ショートドラマ）</h2>
          <p>あらすじ<br>私の家にはアイスの妖怪「アイちゃん」が居候している。<br>アイちゃんは、人間の小さな悩みを解決することを生きがいにしている少し変わった妖怪。今日もまた、人間たちの小さな悩みがアイちゃんへと届いたのである・・・<br><br></p>
          <p>コメント<br>動画編集も趣味でしています。この作品は、小さな雑学と<br>小さな癒やしと小さな幸せを贈るをコンセプトに作りました。</p>
        </div>
      </div>
    </div>
</div>
<footer>
  <p class = "footer">Copyright 2020 shokuhi-setsuyaku All right reserved</p>
</footer>
